<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="spring-boot-kafka-log" packages="com.tweetapp">
    <Appenders>
        <!-- <Kafka name="kafka" topic="tweet-app-logs">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} [%-5p] : %m%n" />
            <Property name="bootstrap.servers">${env:KAFKA_HOST}:${env:KAFKA_PORT}</Property>
        </Kafka> -->
        <!-- <Async name="Async">
            <AppenderRef ref="kafka" />
        </Async> -->
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} -- %-5p -- [%-7t] : %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <!-- <AppenderRef ref="kafka" /> -->
            <AppenderRef ref="stdout" />
        </Root>
        <!-- <Logger name="org.apache.kafka" level="WARN">
            <AppenderRef ref="kafka" />
            <AppenderRef ref="stdout" />
        </Logger> -->
    </Loggers>
</Configuration>